/*
  Lee McKinnon
/* 
  http://leemckinnon.com
  Feel free to use anything here...
*/


/* Natives */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

h2
{
  font-size: 24px;
}

h3
{
  font-size: 14px;
}

.thumb {
  float:left;
  width: 200px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a {
  text-decoration: none;
  color: #1B7FA8;
  font-weight: bold;
}

a:hover {
  color: #333;
  -webkit-transition: all .3s ease-in-out;
}

h1 a{
 color: rgb(1, 59, 92);
}

pre code {
  font-size: 11px;
  background-color: #333;
  color: whitesmoke;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Helpers */

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

.clear {
  overflow:hidden;
}

.opaque {
  color: #aaa;
}

/* Posts */

ul.posts {
 margin:10px 0;
 padding: 0;
}

ul.posts li {
  list-style:none;
  margin:0 0 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.post-date
{
  color: #aaa;
  font-size: 11px;
}

/* Site Parts */

#nav-post {
  margin-top: 20px;
  font-size: 14px;
}

#site-info {
  font-size: 11px;
}

#content {
  padding: 0 40px;
}

#sidebar {  
  background-color: #4DBCE9;
  color: whitesmoke;
  padding: 40px;
}

#sidebar img
{
  border: 5px solid rgb(39, 117, 148);
  width: 70%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

#links 
{
  margin: 5px 0;
}

#links a{
  color: whitesmoke;
}

#social {
  font-size: 24px;
}

#disclaimer {
  font-size: 10px;
}

#content {
  max-width: 700px;
}

#content img {
  max-width: 100%;
}

#post-content {
  padding-bottom: 10px;
}

#footer {

}

#site-info {
  position: fixed;
  bottom: 0;
  width: 250px;
}

/* Media Queries------------------------------------  */

@media screen and (max-height: 300px) {
  #site-info {
    display:none;
  }
}

@media screen and (min-width: 800px) {
  #sidebar {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
  }

  #bio{
    margin-top: 20px
  }

  #content #footer  {
    display:none;
  }

  #content {
    margin: 25px 0 0 320px;
  }
}

@media screen and (max-width: 800px) {
  
  .post-date
  {
    display:none;
  }

  #sidebar img
  {
    float:left;
    border-width: 3px;
    width: 50px;
  }

  #sidebar h1
  {
    margin: 0;
  }

  #sidebar #site-info, 
  #sidebar #social
  {
    display:none;
  }

  #sidebar #basic-info {
    overflow:hidden;
  }

  #sidebar #context {
    float:left;
    margin: 0 0 0 10px;
  }

  #sidebar #bio p {
    font-size: 11px;
    margin: 0;
  }

  #sidebar {
    padding: 10px 40px;
  }

  #footer {
    display:block;
    font-weight: 300;
    font-size: 12px;
    padding-bottom: 40px;
    border-top: 1px solid #ddd;
  }
}

@media screen and (max-width: 600px) {
  #sidebar img
  {
    display:none;
  }
}